services:
  app:
    build: .
    container_name: okane_app
    restart: always
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    env_file:
      - .env

  db:
    image: postgres:17
    container_name: okane_db
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env

  redis:
    image: redis:7-alpine
    container_name: okane_redis
    restart: always
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data: