services:
  app:
    build: .
    container_name: okane_app
    restart: always
    networks:
      - default
      - traefik_public
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.okane.rule=Host(`okane.x0ryz.cc`)"
      - "traefik.http.routers.okane.entrypoints=websecure"
      - "traefik.http.routers.okane.tls.certresolver=myresolver"
      - "traefik.http.services.okane.loadbalancer.server.port=8000"
    depends_on:
      - db
      - redis
    env_file:
      - .env

  db:
    image: postgres:17
    container_name: okane_db
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env

  redis:
    image: redis:7-alpine
    container_name: okane_redis
    restart: always
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:

networks:
  traefik_public:
    external: true