services:
  app:
    image: mcr.microsoft.com/devcontainers/python:3.11
    volumes:
      - ../:/workspaces:cached
    command: sleep infinity
#    network_mode: service:db
    depends_on:
      - db
      - redis
      - rabbitmq
    environment:
      - DATABASE_URL=postgresql+asyncpg://okane_user:okane_pass@db:5432/okane_db
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - SECRET_KEY=dev_secret_key_change_me
      - ALGORITHM=HS256
      - ACCESS_TOKEN_EXPIRE_MINUTES=30
      - REFRESH_TOKEN_EXPIRE_DAYS=30
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

  db:
    image: postgres:17
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=okane_user
      - POSTGRES_PASSWORD=okane_pass
      - POSTGRES_DB=okane_db

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    volumes:
      - redis-data:/data

  rabbitmq:
    image: rabbitmq:3-management-alpine
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "-q", "ping" ]
      interval: 5s
      timeout: 15s
      retries: 5

volumes:
  postgres-data:
  redis-data: